<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>High Fived!!</h1>
    <h3>You've been high fived {{fives}} times!!</h3>

    <h2>All other users</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for x in users %}
            <tr>
                <td>{{x.name}}</td>

                <td>{{x.receive.count}}</td>

                <td>
                    <a href="/five/addfive/{{x.id}}">Give a five!!</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>